{
  "AWSEBDockerrunVersion": "1",
  "Authentication": {
    "Bucket": "elasticbeanstalk-us-east-1-jackmallet-server",
    "Key": "index.docker.io/config.json"
  },
  "Image": {
    "Name": "fabianwareio/jackmallet-server:<TAG>",
    "Update": "true"
  },
  "Ports": [
    {
      "ContainerPort": "5000"
    }
  ]
}
